<!DOCTYPE HTML>
<html>
  <head>
    
    <title>Blog</title>
    <link type="text/css" rel="stylesheet" href="/css/blog.css" />
  </head>
  
  <body>
    <h1>Welcome to Anexa's Blog!</h1>
    <br>
 	<a href="/blog/newpost">Submit a new Post!</a>
    <hr>
    
    
    {% for entry in posts %}
    	{% if loop.index0 < 5 %}
    	<div class="art">
       	<div class="art-title">{{entry.subject}}</div>
       	<div class="art-title">{{entry.created}}</div>
       	<br>
       	<pre class="art-body">{{entry.content}}</pre>
       	<hr>
       	{% endif %}
    {% endfor %}

  <br>
  <a href="/">Home</a>  
  </body>
</html>