<!DOCTYPE HTML>
<html>
  <head>
    <title>Signup Form!</title>
  </head>

  <body>
    <form method="post">
    
      <br>
      <label>
        Username:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="username" value="{{username}}"><b><FONT COLOR = "red">{{uerror}}</b></FONT>
      </label>
      <br>
      <label>
        Password: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="password" value="{{password}}"><b><FONT COLOR = "red">{{perror}}</b></FONT>
      </label>
      <br>
      <label>
        Verify Password:
        <input type="text" name="verify" value="{{verify}}"><b><FONT COLOR = "red">{{verror}}</b></FONT>
      </label>
      <br>
      <label>
        E-mail:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="email" value="{{email}}"><b><FONT COLOR = "red">{{eerror}}</b></FONT>
      </label>
  
      <br><br>
      <input type="submit">
    </form>
    <br>
    <a href="/">Home</a>
  </body>
</html>

